*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(pics/header.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.8;
}

.name{
    color: beige;
    font-size: 85px;
    font-family: Georgia;
    text-align: center;
    padding-top: 20px;
}
p {
    color: beige;
    font-size: 20px;
    font-family: Georgia;
    text-align: center;
    padding-top: 0.8px;
}

.history-box{
    position: relative;
    top: 50px;
    margin: 0 auto;
    background: rgba(245,245,220,0.6);
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    min-height: 300px;
}
.history-box h2 {
    font-weight: bold;
}
.history-text{
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 10px;
    text-align: justify;
}
.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin: 40px auto;
  width: 90%;
  text-align: center;
}

.member img {
  width: 100%;
  max-width: 200px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-top: 30px;
  flex-wrap: wrap;
}

.member p {
  margin-top: 10px;
  font-size: 16px;
  color: beige;
  font-family: Arial;
}

.member a{
    color: beige;
    text-decoration: none;
}

.member a:hover{
    color: lightblue;
    text-decoration: underline;
}
.albums-section {
    align-items: center;
    margin-top: 20px;
    color: beige;
    text-align: center;
}
.albums-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    max-width: 100%;
    padding: 20px;
}
.albums img {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  gap: 20px;
}
.albums a{
    color: beige;
    text-decoration: none;
}
.albums a:hover{
    color: lightblue;
    text-decoration: underline;
}